body {
  padding-top: 50px;
  /*background-color: #FCFCFC;*/
  background-color: #FAFAFA;
}
textarea {
  padding: 30px !important;
  font-size: 14px;
}
.main .panel-body {
  /*background-color: #f7f7f7;*/
}
.btn {
  margin-bottom: 2px;
}
.btn-delete {
  display: inline;
}
.checkbox-ids {
  margin: 0;
  width: 18px;
  height: 18px;
}
.dropdown-menu-category {
  max-height: 500px;
  overflow-y: auto;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-inverse {
  background-color: #2c3136;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  background-color: #2c3136;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  /*height: 0;  for horizontal scrollbars */
}
.sidebar .material-icons.md-18,
.sidebar .material-icons.md-20 {
  color: #6d7483;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2c3136;
    border-right: 1px solid #eee;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100%;
    z-index: 9999;
    margin-left: -250px;
  }
  .sidebar.active {
    margin-left: 0;
  }
}

/* Sidebar navigation */
.nav-sidebar > li.sidebar-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #656a70;
  font-size: 1rem;
  letter-spacing: .1em;
  padding: 10px 20px;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  color: #fff;
  font-size: 1.25rem;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #33383e;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > .active > a > i.material-icons {
  color: #F5F5F5;
}

.btn-sidebar {
  margin-right: -21px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  color: #6d7483;
  background-color: transparent;
}
.btn-sidebar > .caret {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 10px;
  margin: 10px 20px 0;
  color: #6d7483;
  /*text-align: right;*/
}

.node-title:hover {
  cursor: pointer;
}
.node-title:active .caret {
  transform:rotate(-90deg); 
}
.fix-col {
  display: none;
}
td.cell-size {
  min-width: 240px;
}
td.cell-mw {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .table-products>.table>tbody>tr {
    height: 80px;
  }
  .table-products>.table>tbody>tr>td.cell-size,
  .table-products>.table>tbody>tr>th.cell-size {
    white-space: normal;
  }
}
@media (max-width: 575px) {
  .table-items {
  /*position: relative;*/
  }
  .fix-col {
    display: block;
    border-left: 1px solid #ddd;
    background-color: #f5f5f5;
    position: absolute;
    right: 16px;
    width: 40px;
    /*height: 80px;*/
    height: inherit;
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.1);
    box-shadow: -5px 0px 5px rgba(0,0,0,.1);
  }
  .fix-col .btn {
    display: block;
    width: 30px;
    height: 35px;
    margin: auto;
    padding: 7px 0;
  }
}


/*
 * Main content
 */

@media (min-width: 768px) {
  .main {

  }
}
.main .page-header {
  margin-top: 20px;
}

/*
 * Material Icons
 */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* JOYTABLE JQUERY */
/*#edit, #save, #cancel {
  outline: none;
  background: none;
  border: none;
}
#edit, #save, #cancel {
  cursor: pointer;
}
#save {
  display: none;
}*/