.padding-h-30 {
  padding: 0 30px;
}
.button.border-yellow {
  color: #f0c330;
  border: 1px solid #f0c330;
  background-color: transparent;
}
/*.button.yellow-btn,*/
.button.btn-yellow:hover {
  color: #000;
  background-color: #f0c330;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #444;
}
.text-blue {
  color: #205793;
}
.text-yellow {
  color: #f0c330 !important;
}
.fullwidth-home-slider .home-slider-desc {
  bottom: 82px;
}
.filter-section {
  position: relative;
  transform: translate3d(0%, -40%, 0);
  margin-bottom: -30px;
  z-index: 101;
}
.filter-catalog {
  position: relative;
  transform: translate3d(0%, -50%, 0);
  margin-bottom: -30px;
  z-index: 101;
}
@media (max-width: 767px) {
  .filter-catalog {
    transform: translate3d(0%, -20%, 0);
  }
}
.header-style {
  position: relative;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  z-index: 35;
}
.paragraph-style {
  position: relative;
  margin-left: 60px;
  margin-bottom: 50px;
  z-index: 35;
}
.display-1 {
  font-size: 80px;
}
.display-2 {
  font-size: 60px;
}
.advantages {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.square {
  position: absolute;
  left: -25%;
  width: 300px;
  height: 300px;
  border: 3px solid #f0c330;
  /*opacity: 75%;*/
  z-index: 20;
}
.circle {
  position: absolute;
  right: -15%;
  width: 350px;
  height: 350px;
  border: 3px solid #f0c330;
  border-radius: 50%;
  /*opacity: 75%;*/
  z-index: 20;
}
.rectangle {
  position: absolute;
  top: 125px;
  left: -15%;
  width: 450px;
  height: 150px;
  border: 3px solid #f0c330;
  /*opacity: 75%;*/
  z-index: 20;
}

section.fullwidth {
  z-index: 100;
}
.promo-icons {
  margin: 140px auto;
  text-align: center;
}
.promo-icons span {
  font-size: 300px;
  color: #f0c330;
}
.clients {
  padding: 100px 0 70px;
  color: #000;
  z-index: 10;
}

/* ------------------------------------------------------------------------ */
/*  FIXED BUTTON
/* ------------------------------------------------------------------------ */

.material-button-anim {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 130;
}

.material-button {
  position: relative;
  top: 0;
  /*z-index: 100;*/
  width: 60px;
  height: 60px;
  font-size: 1.6em;
  color: #fff;
  background: #2C98DE;
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.275);
  outline: none;
}
.material-button a {
  display: block;
  color: #fff;
}
.material-button-toggle {
  z-index: 100;
  width: 60px;
  height: 60px;
}
.material-button-toggle span {
  -webkit-transform: none;
  transform:         none;
  -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
  transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
  -webkit-transform: scale(1.1, 1.1);
  transform:         scale(1.1, 1.1);
  -webkit-animation: toggleBtnAnim .175s;
  animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
  /*-webkit-transform: rotate(45deg);*/
  /*transform:         rotate(45deg);*/
  /*-webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);*/
  /*transition:         transform .175s cubic-bazier(.175,.67,.83,.67);*/
}
.bg-whatsapp {
  background-color: #54cd62;
}
.bg-telegram {
  background-color: #3ba8eb;
}
.bg-ripple {
  background-color: #f26a6f;
}

#options {
  /*height: 70px;*/
}
.option {
  position: absolute;
}
.option .option1,
.option .option2,
.option .option3,
.option .option4 {
  -webkit-transform: translate3d(0,10px,0) scale(.5, .5);
  transform: translate3d(0,10px,0) scale(.5, .5);
}
.option.scale-on .option1 {
  -webkit-transform: translate3d(0, -260px, 0);
  transform:         translate3d(0, -260px, 0);
}
.option.scale-on .option2 {
  -webkit-transform: translate3d(0, -195px, 0);
  transform:         translate3d(0, -195px, 0);
}
.option.scale-on .option3 {
  -webkit-transform: translate3d(0, -130px, 0);
  transform:         translate3d(0, -130px, 0);
}
.option.scale-on .option4 {
  -webkit-transform: translate3d(0, -65px, 0);
  transform:         translate3d(0, -65px, 0);
}
.option.scale-on .option1,
.option.scale-on .option2,
.option.scale-on .option3,
.option.scale-on .option4 {
  -webkit-transition: all .175s;
  transition:         all .175s;
}

@keyframes toggleBtnAnim {
  0% {
    -webkit-transform: scale(1,1);
    transform:         scale(1,1);
  }
  50% {
    -webkit-transform: scale(1.2,1.2);
    transform:         scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
  }
}
@-webkit-keyframes toggleBtnAnim {
  0% {
    -webkit-transform: scale(1,1);
    transform:         scale(1,1);
  }
  50% {
    -webkit-transform: scale(1.2,1.2);
    transform:         scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
  }
}

/* Animation */
.btnBg {
  /*background-image: linear-gradient(90deg, #fd5581, #fd8b55);*/
  background-image: linear-gradient(90deg, #205793, #207393);
}
.material-button .ripple {
  position:absolute;
  width:120px;
  height:120px;
  z-index: 100;
  left:50%;
  top:50%;
  opacity:0;
  margin:-60px 0 0 -60px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 2s infinite
}
.material-button .ripple:nth-child(2) {
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.material-button .ripple:nth-child(3) {
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}
@-webkit-keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@keyframes ripple {
  0%{
    opacity:1;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
